<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Lista de Libros</title>
    
</head>
<body>
    <!-- <h1> {{ data.libros }} </h1> -->
    <table>
        {% for l in data.libros %}
        <tr>
            <td> {{ l.isbn }} </td>
            <td> {{ l.titulo }} </td>
            <td> {{ l.anoedicion }} </td>
            <td> {{ l.autor.apellidos }} </td>
            <td> {{ l.autor.nombres }} </td>
            <td> {{ l.precio }} </td>
        </tr>
        {%  endfor %}
    </table>
</body>
</html>